{
  "plugins": [
    "syntax-flow",
    "transform-decorators-legacy",
    [
      "module-resolver",
      {
        "alias": {
          "v3": "./src/v3"
        }
      }
    ]
  ],
  "presets": [
    [
      "env",
      {
        "loose": true,
        "useBuiltIns": true
      }
    ],
    "flow",
    "stage-0",
  ],
  "sourceMaps": true,
  "ignore": [
    "node_modules"
  ],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  }
}
